* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

span {
    position: fixed;
    max-width: 1024px;
    top: 0;
    z-index: 1;
}

h1 {
    text-align: center;
    width: 1024px;
    padding: 20px;
    background: rgb(164, 37, 46);
    color: rgb(223, 215, 216);
    font-family: 'Kenzo', sans-serif;
    border-radius: 5px;
    font-size: 25px;
    letter-spacing: 2px;
    margin: auto;
}

.container-flexbox {
    display: flex;
    justify-content: center;
    margin: 10px;
    flex-wrap: wrap;
    gap: 15px;
    position: relative;
    width: 100%;
    height: 630px;
}

.container-flexbox::before {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.4;
    background-image: url("https://pbs.twimg.com/media/FERQAULWQAQ_nwj.jpg:large");
    background-repeat: no-repeat;
    background-size: cover;
    inset: 0;
    height: 80vh;
    
}

.cards-flexbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 331px;
    height: 482px;
    justify-content: space-between;
    position: relative;
    top: 73px;
    border: 1px solid rgb(29, 59, 118);
}

.image-card {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.text {
    background-color: rgb(29, 59, 118);
    width: 100%;
    text-align: center;
    padding: 13px;
    font-family: 'Kenzo', sans-serif;
    color: rgb(223, 215, 216);
    font-size: 23px;
    letter-spacing: 2px;
}

@media (max-width: 1024px) {
    .container-flexbox::before {
        display: none;
    }
    h1 {
        font-size: 20px;
    }
    .cards-flexbox::before {
        content: "";
        position: absolute;
        opacity: 0.4;
        background-image: url("https://http2.mlstatic.com/D_NQ_NP_901145-MLB70172824522_062023-O.webp");
        z-index: -1;
        inset: 0;
    }
}

